<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <scheduling>
            <agent type="Sitecore.Azure.Managers.Publishing.PublishTargetRemoteManager, Sitecore.Azure"
               set:type="Sitecore.Support.Azure.Managers.Publishing.PublishTargetRemoteManager, Sitecore.Support.68283"/>
        </scheduling>
    </sitecore>
</configuration>