<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SA.Microsoft.WindowsAzure.ServiceRuntime" version="8.0.0" targetFramework="net45" />
  <package id="SA.Microsoft.WindowsAzure.Storage" version="8.0.0" targetFramework="net45" />
  <package id="SA.Sitecore.Azure" version="8.0.0" targetFramework="net45" />
  <package id="SA.Sitecore.Azure.System" version="8.0.0" targetFramework="net45" />
  <package id="SC.Sitecore.Kernel" version="8.0.3" targetFramework="net45" />
</packages>